<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head.ejs') %> 
    <%- include('./partials/header.ejs') %> 
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1>Estas seguro de querer borrar esta película: <%= Movie.title %>? &#128556 &#128561</h1>
    
        <form action="/movies/delete/<%= Movie.id %>?_method=DELETE" method="POST">
            <br>
            <button class="btn btn-danger" type="submit">Borrar la Película</button>
            
            <button type="submit" class="btn btn-primary"><a  class="link-light" href="/movies">Listado de Películas</a></button>

        </form>
    
</body>

</html>